<div class="container" style= "height: 85vh">
  <div class="row">
      <div class="my-5 mx-auto">
        <h1>Welcome to My BOOKs !!</h1>
        <h4 class="mt-3 p-4 mx-auto" style="background-color: #f5f5f5; line-height:3;">
          購入した書籍や、購読済みの書籍の情報を投稿して、<br>
          自身のメモとして使うことが出来ます。<br>
          読み返す時間がない時や、<br>
          外出先で、手持ちの書籍の情報を確認することが出来ます。
        </h4>
      </div>
  </div>
</div>